{% extends "panel.html" %}
{% block titulo %}Usuarios - Roduc{% endblock %}
{% block formularios %}
{% load static %}
<div class="header pb-9 d-flex align-items-center"
    style="min-height: 350px; background-image: url('{% static 'assets/img/header-bg.png' %}'); ">
    <!-- Mask -->
    <span></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-justify">
        <div class="row">
            <div class=".col-12 .col-md-8">
                <h1 class="display-2 text-white">Registro de Usuarios</h1>
                <p class="text-white mt-0 mb-5">El formulario actual sirve para el registro de los usuarios en el
                    sistema.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <form role="form" action='#' method="POST" id="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Datos del Usuario</h6>
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Nombre de Usuario</label>
                                        <input required autocomplete="off" type="text" id="username" class="form-control" placeholder="Ingrese el nombre para el nuevo usuario..." name="username" autofocus>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Contraseña</label>
                                        <input required type="password" autocomplete="off" id="password"
                                            class="form-control" placeholder="Ingrese una contraseña para el usuario..."
                                            name="password" autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Nombres Completos</label>
                                        <input required type="text" autocomplete="off" id="nombres" class="form-control"
                                            placeholder="Ingrese los nombres del usuario a registrar..." name="nombres"
                                            autofocus>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Apellidos
                                            Completos</label>
                                        <input required type="text" autocomplete="off" id="apellidos"
                                            class="form-control"
                                            placeholder="Ingrese los apellidos del usuario a registrar..."
                                            name="apellidos" autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Correo
                                            Electrónico</label>
                                        <input required type="email" autocomplete="off" id="correo" class="form-control"
                                            placeholder="Ingrese el correo electrónico del usuario..." name="correo"
                                            autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span><button type="submit" class="btn btn-success">Guardar</button></span>
                        <span><button type="button" id="BT_Listar" class="btn btn-warning" onclick="mostrarUsuarios()">Listar</button></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display: none;" id="listausuarios">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="heading-small text-muted mb-4">Usuarios Registrados</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive py-2">
                        <div class="dataTables_wrapper dt-bootrstrap4">
                            <table class="table table-flush dataTable align-items-center table-hover" id="datos">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="sort" data-sort="id">ID</th>
                                        <th scope="col" class="sort" data-sort="nombre">Nombre de Usuario</th>
                                        <th scope="col" class="sort" data-sort="nombre">Nombres y apellidos</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tfoot class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre de Usuario</th>
                                        <th>Nombres y apellidos</th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot>
                                <tbody class="list">
                                    {% for usuario in lista_usuarios %}
                                    <tr>
                                        <td class="id">{{usuario.cod_usuario}}</td>
                                        <td class="user">{{usuario.nombre_usuario}}</td>
                                        <td class="nombres">{{usuario.apellidos_del_usuario}},{{usuario.nombres_del_usuario}}</td>
                                        <!---BOTONES-->
                                        <td>
                                            <button type="button" class="btn btn-outline-success" onclick="obtenerUsuario('{{usuario.cod_usuario}}', 1)">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button class="btn btn-outline-danger" onclick='eliminarUsuario("{{usuario.cod_usuario}}")'>
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <button class="btn btn-outline-warning" onclick="obtenerUsuario('{{usuario.cod_usuario}}', 2)">
                                                <i class="fas fa-address-card"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!---Modal-->
<div class="modal fade" id="modalPerfil" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Ver perfil</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="{% url 'perfil' %}" method="GET">
                <div class="modal-body">
                    <input type="text" name="codigoPerfil" id="codigoPerfil" style="display: none;">
                    <p>Desea visitar el perfil del usuario para la asignación de los roles dentro de la facultad?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ir!</a>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Mas tarde</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!---Modal Update-->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloUpdate"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action='#' method="POST" onsubmit="updateUsuario(this)" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6 class="heading-small text-muted mb-4">Datos del Usuario</h6>
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Correo Electrónico</label>
                                    <input type="text" value="" name="codigo" id="updateCodigo" style="display: none;">
                                    <input required type="email" autocomplete="off" id="updateCorreo" class="form-control"
                                    placeholder="Ingrese el correo electrónico del usuario..." name="correo"
                                    autofocus>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Contraseña</label>
                                    <input required type="password" autocomplete="off" id="updatePassword"
                                        class="form-control" placeholder="Ingrese una contraseña para el usuario..."
                                        name="password" autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Nombres Completos</label>
                                    <input required type="text" autocomplete="off" id="updateNombre" class="form-control"
                                        placeholder="Ingrese los nombres del usuario a registrar..." name="nombres"
                                        autofocus>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Apellidos
                                        Completos</label>
                                    <input required type="text" autocomplete="off" id="updateApellido"
                                        class="form-control"
                                        placeholder="Ingrese los apellidos del usuario a registrar..."
                                        name="apellidos" autofocus>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span><button type="submit" class="btn btn-success">Guardar</button></span>
                </form>
            </div>
        </div>
    </div>
</div>


<!---Modal Preview-->
<div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Datos del Usuario</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="{% url 'perfil' %}" method="GET">
                <div class="modal-body" style="padding: 0em !important;">
                    <input type="text" name="codigoPerfil" value="" id="codigoPreview" style="display:none;">
                    <div class="row" style="display:flex; justify-content: center; padding-bottom: 10px;">
                        <img src="{% static 'assets/img/user_profile.png' %}" class="rounded-circle" width="45%">
                    </div>
                    <hr class="my-3">
                    <div class="row" style="display:grid; justify-content: center ;grid-template-columns: 1fr 1fr;">
                        <div class="py-3 text-center" style="padding-bottom: 0em !important; padding-top: 0em !important;">
                            <div class="form-group">
                                <label class="form-control-label" id="userPreview" for="input-username"></label>
                            </div>
                        </div>
                        <div class="py-3 text-center" style="padding-bottom: 0em !important; padding-top: 0em !important;">
                            <div class="form-group">
                                <label class="form-control-label" id="passPreview" for="input-username"></label>
                            </div>
                        </div>
                        <div class="py-3 text-center" style="padding-bottom: 0em !important; padding-top: 0em !important;">
                            <div class="form-group">
                                <label class="form-control-label" id="nombrePreview" for="input-username"></label>
                            </div>
                        </div>
                        <div class="py-3 text-center" style="padding-bottom: 0em !important; padding-top: 0em !important;">
                            <div class="form-group">
                                <label class="form-control-label" id="apellidoPreview" for="input-username"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 py-3 text-center" style="padding-bottom: 0em !important; padding-top: 0em !important;">
                        <div class="form-group">
                            <label class="form-control-label" id="emailPreview" for="input-username"></label>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ver Perfil</a>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Más tarde</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block extrajs %}
<script>
    $('#form').on('submit', function () {
        var formulario = new FormData(this);
        event.preventDefault();
        $.ajax({
            url: "{% url 'agregar_usuario' %}",
            type: 'POST',
            data: formulario,
            processData: false,
            contentType: false,
            success:
                function (data) {
                    document.getElementById('username').value = ''
                    document.getElementById('password').value = ''
                    document.getElementById('nombres').value = ''
                    document.getElementById('apellidos').value = ''
                    document.getElementById('correo').value = ''
                    Swal.fire({
                        icon: 'success',
                        title: 'Aviso',
                        text: 'Registro guardado existosamente.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        user = JSON.parse(data.usuario);
                        document.getElementById("codigoPerfil").value = user[0].pk;
                        $('#modalPerfil').modal('show');
                    })
                }
        })
    })
</script>

<script>
    function mostrarUsuarios(){
        if($("#listausuarios").is(":visible")){
            $('#listausuarios').hide(500);
            document.querySelector('#BT_Listar').innerHTML = 'Listar';
        } else {
            $('#listausuarios').show(500);
            document.querySelector('#BT_Listar').innerHTML = 'Ocultar';
        }
    }
</script>

<script>
    function obtenerUsuario(codigo, bandera){
        $.ajax({
        url: "{% url 'detalle_usuario' %}",
        type: 'GET',
        data: {"codigo": codigo},
        success: 
            function(data){
                console.log(data);
                detalle = data.detalle;
                detalle = JSON.parse(detalle);
                if (bandera == 2) {
                    $('#modalPreview').modal('show');
                    document.getElementById("codigoPreview").value = detalle[0].pk;

                    document.querySelector('#userPreview').innerHTML = 'Username: ' + detalle[0].fields.nombre_usuario;
                    document.querySelector('#passPreview').innerHTML = 'Contraseña: ' + detalle[0].fields.contraseña;
                    document.querySelector('#nombrePreview').innerHTML = 'Nombres: ' + detalle[0].fields.nombres_del_usuario;
                    document.querySelector('#apellidoPreview').innerHTML = 'Apellidos: ' + detalle[0].fields.apellidos_del_usuario;
                    document.querySelector('#emailPreview').innerHTML = 'Correo Electrónico: ' + detalle[0].fields.direccion_email;
                } else {
                    $('#modalUpdate').modal('show');
                    document.querySelector('#tituloUpdate').innerHTML = 'Usuario: ' + detalle[0].fields.nombre_usuario;
                    document.getElementById("updateCodigo").value = detalle[0].pk;
                    document.getElementById('updatePassword').value = detalle[0].fields.contraseña;
                    document.getElementById('updateNombre').value = detalle[0].fields.nombres_del_usuario;
                    document.getElementById('updateApellido').value = detalle[0].fields.apellidos_del_usuario;
                    document.getElementById('updateCorreo').value = detalle[0].fields.direccion_email;
                }
            }
        })
    }
</script>

<script>
    function updateUsuario(form) {
      event.preventDefault();
      var formulario = new FormData(form)
      Swal.fire({
        title: 'Actualización de Usuario',
        text: '¿Está seguro de actualizar el registro?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Confirmar',
        cancelButtonText: "Cancelar",
        confirmButtonColor: '#2dce89',
        cancelButtonColor: '#d33',
      }).then((result) => {
        if (result.value) {
          $.ajax({
            url: "{% url 'actualizar_usuario' %}",
            type: 'POST',
            data: formulario,
            processData: false,
            contentType: false,
            success:
              function (data) {
                $('#updateModal').modal('hide');
                Swal.fire({
                  icon: 'success',
                  title: 'Aviso',
                  text: data.mensaje,
                  showConfirmButton: true
                }).then(() => {
                  location.href = '{% url 'usuario' %}'
                })
              }
          })
        }
      })
    }
  </script>

<script>
    function eliminarUsuario(codigo){
        Swal.fire({
            title: 'EliminaciÓn de usuario',
            text: '¿Está seguro de eliminar el registro?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Confirmar',
            cancelButtonText: "Cancelar",
            confirmButtonColor: '#2dce89',
            cancelButtonColor: '#d33',
        }).then((result) => {
            if (result.value) {
                console.log(codigo)
                $.ajax({
                    url: "{% url 'eliminar_usuario' %}",
                    type: 'POST',
                    data: {"codigo": codigo},
                    success: 
                    function(data){
                        Swal.fire({
                            icon: 'success',
                            title: 'Aviso',
                            text: data.mensaje,
                            showConfirmButton: true
                        }).then( () => {
                            location.href = '{% url 'usuario' %}'
                        })
                    }
                })
            }
        })
    }
</script>

<script>
    $("#username").blur(function(){
        var usuario = document.getElementById('username').value;
        {% for usuario in lista_usuarios %}
            var aux = "{{usuario.nombre_usuario}}";
            if(usuario == aux){
                const Toast = Swal.mixin({
                                toast: true,
                                position: 'top',
                                showConfirmButton: false,
                                timer: 2500,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            })
                            Toast.fire({
                                icon: 'error',
                                title: 'El nombre de usuario ingresado ya existe'
                            })
                document.getElementById('username').value = null;
                document.getElementById("username").focus();
            }
        {% endfor %}
	});
</script>

{% endblock %}