{% extends "panel.html" %}
{% block titulo %}Carreras - Roduc{% endblock %}
{% block formularios %}
{% load static %}
<div class="header pb-9 d-flex align-items-center" style="min-height: 350px; background-image: url('{% static 'assets/img/header-bg.png' %}'); ">
    <!-- Mask -->
    <span></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-justify">
      <div class="row">
        <div class=".col-12 .col-md-8">
          <h1 class="display-2 text-white">Registro de Carreras</h1>
          <p class="text-white mt-0 mb-5">El formulario actual sirve para el Registro de las Carreras que tienen acceso al sistema.</p>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-body">
          <form role="form" action='#' method="POST" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <h6 class="heading-small text-muted mb-4">Datos de la Carrera</h6>
            <div class="pl-lg-0">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Descripción</label>
                    <input required autocomplete="off" type="text" id="input-username" class="form-control" placeholder="Ingrese la descripción de la carrera..." name="descripcion" autofocus>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Título Obtenido</label>
                    <input required autocomplete="off" type="text" id="input-username" class="form-control" placeholder="Ingrese el título que obtiene el egresado..." name="titulo" autofocus>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1" class="form-control-label">Duración</label>
                  <select class="form-control" id="" name="duracion"
                    class="form-control">
                    <option value="">Seleccione la duración de la carrera...</option>
                    <option value="1">1 año</option>
                    <option value="2">2 años</option>
                    <option value="3">3 años</option>
                    <option value="4">4 años</option>
                    <option value="5">5 años</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1" class="form-control-label">Facultad</label>
                  <select class="form-control" id="" name="facultad"
                    class="form-control">
                    <option>Seleccione la facultad a la cual pertenece...</option>
                    {% for facultad in lista_facultades %}
                    <option value="{{facultad.cod_facultad}}">{{facultad.descripcion}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <span><button type="submit" class="btn btn-success">Guardar</button></span>
            <span><button type="button" id="BT_Listar" class="btn btn-warning" onclick='mostrarCarreras()'>Listar</button></span>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="display: none;" id="listacarreras">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h6 class="heading-small text-muted mb-4">Carreras Registradas</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive py-2">
            <div class="dataTables_wrapper dt-bootrstrap4">
              <table class="table table-flush dataTable align-items-center table-hover" id="datos">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="id">ID</th>
                    <th scope="col" class="sort" data-sort="nombre">Descripción</th>
                    <th scope="col" class="sort" data-sort="nombre">Duración</th>
                    <th scope="col" class="sort" data-sort="nombre">Título Obtenido</th>
                    <th scope="col" class="sort" data-sort="nombre">Facultad</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tfoot class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Duración</th>
                    <th>Título Obtenido</th>
                    <th>Facultad</th>
                    <th>Acciones</th>
                  </tr>
                </tfoot>
                <tbody class="list">
                  {% for carrera in lista_carreras %}
                  <tr>
                    <td class="id">{{carrera.cod_carrera}}</td>
                    <td class="nombre">{{carrera.descripcion}}</td>
                    <td>{{carrera.duracion}}</td>
                    <td>{{carrera.titulo_obtenido}}</td>
                    <td>
                      {% for facultad in lista_facultades %}
                        {% if facultad.cod_facultad == carrera.cod_facultad_id %}
                          {{facultad.descripcion}}
                        {% endif %}
                      {% endfor %}
                    </td>
                    <!---BOTONES-->
                    <td>
                      <button type="button" class="btn btn-outline-success" onclick='obtenerCarrera("{{carrera.cod_carrera}}")'>
                        <i class="far fa-edit"></i>
                      </button>
                      <button class="btn btn-outline-danger" onclick='eliminarCarrera("{{carrera.cod_carrera}}")'>
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!---Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal"></h5>
        <button type="button" class="close" href="" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" action='#' method="POST" id="" onsubmit="updateCarrera(this)" enctype="multipart/form-data">
          {% csrf_token %}
          <h6 class="heading-small text-muted mb-4">Datos de la Carrera</h6>
          <div class="pl-lg-0">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" name="codigo" id="updateCodigo" style="display: none;">
                  <label class="form-control-label" for="input-username">Descripción</label>
                  <input required autocomplete="off" type="text" id="updateDescripcion" class="form-control" placeholder="Ingrese la descripción de la carrera..." name="descripcion" autofocus>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Título Obtenido</label>
                  <input required autocomplete="off" type="text" id="updateTitulo" class="form-control" placeholder="Ingrese el título que obtiene el egresado..." name="titulo" autofocus>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1" class="form-control-label">Duración</label>
                <select class="form-control" id="updateDuracion" name="duracion"
                  class="form-control">
                  <option value="">Seleccione la duración de la carrera...</option>
                  <option value="1">1 año</option>
                  <option value="2">2 años</option>
                  <option value="3">3 años</option>
                  <option value="4">4 años</option>
                  <option value="5">5 años</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1" class="form-control-label">Facultad</label>
                <select class="form-control" id="updateFacultad" name="facultad"
                  class="form-control">
                  <option>Seleccione la facultad a la cual pertenece...</option>
                  {% for facultad in lista_facultades %}
                  <option value="{{facultad.cod_facultad}}">{{facultad.descripcion}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <span><button type="submit" class="btn btn-success">Guardar</button></span>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extrajs %}
<script>
  $('#form').on('submit', function () {
    var formulario = new FormData(this);
    event.preventDefault();
    $.ajax({
      url: "{% url 'agregar_carrera' %}",
      type: 'POST',
      data: formulario,
      processData: false,
      contentType: false,
      success:
        function (data) {
          Swal.fire({
                icon: 'success',
                title: 'Aviso',
                text: data.mensaje,
                showConfirmButton: false,
                timer: 2000
              }).then(() => {
            location.href = '{% url 'carrera' %}'
          })
        }
    })
  })
</script>

<script>
  function mostrarCarreras() {
    if ($("#listacarreras").is(":visible")) {
      $('#listacarreras').hide(500);
      document.querySelector('#BT_Listar').innerHTML = 'Listar';
    } else {
      $('#listacarreras').show(500);
      document.querySelector('#BT_Listar').innerHTML = 'Ocultar';
    }
  }
</script>

<script>
  function obtenerCarrera(codigo) {
    $.ajax({
      url: "{% url 'detalle_carrera' %}",
      type: 'GET',
      data: { "codigo": codigo },
      success:
        function (data) {
          detalle = data.detalle;
          $('#updateModal').modal('show');
          detalle = JSON.parse(detalle);
          document.querySelector('#tituloModal').innerHTML = 'Modificar Carrera: ' + detalle[0].fields.descripcion;
          document.getElementById("updateCodigo").value = detalle[0].pk;
          document.getElementById("updateDescripcion").value = detalle[0].fields.descripcion;
          document.getElementById("updateTitulo").value = detalle[0].fields.titulo_obtenido;
          document.getElementById("updateDuracion").value = detalle[0].fields.duracion;
          document.getElementById("updateFacultad").value = detalle[0].fields.cod_facultad;
        }
    })
  }
</script>

<script>
  function updateCarrera(form) {
    event.preventDefault();
    var formulario = new FormData(form)
    Swal.fire({
      title: 'Actualización de Carrera',
      text: '¿Está seguro de actualizar el registro?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Confirmar',
      cancelButtonText: "Cancelar",
      confirmButtonColor: '#2dce89',
      cancelButtonColor: '#d33',
    }).then((result) => {
      if (result.value) {
        $.ajax({
          url: "{% url 'actualizar_carrera' %}",
          type: 'POST',
          data: formulario,
          processData: false,
          contentType: false,
          success:
            function (data) {
              $('#updateModal').modal('hide');
              Swal.fire({
                icon: 'success',
                title: 'Aviso',
                text: data.mensaje,
                showConfirmButton: true
              }).then(() => {
                location.href = '{% url 'carrera' %}'
              })
            }
        })
      }
    })
  }
</script>

<script>
  function eliminarCarrera(codigo){
      Swal.fire({
          title: 'Eliminación de Carrera',
          text: '¿Está seguro de eliminar el registro?',
          icon: 'question',
          showCancelButton: true,
          confirmButtonText: 'Confirmar',
          cancelButtonText: "Cancelar",
          confirmButtonColor: '#2dce89',
          cancelButtonColor: '#d33',
      }).then((result) => {
          if (result.value) {
              console.log(codigo)
              $.ajax({
                  url: "{% url 'eliminar_carrera' %}",
                  type: 'POST',
                  data: {"codigo": codigo},
                  success: 
                  function(data){
                      Swal.fire({
                          icon: 'success',
                          title: 'Aviso',
                          text: data.mensaje,
                          showConfirmButton: true
                      }).then( () => {
                          location.href = '{% url 'carrera' %}'
                      })
                  }
              })
          }
      })
  }
</script>



{% endblock %}