{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Acceso denegado</title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="lock"></div>
  <div class="message">
    <center>
      <h1>El acceso a esta página está restringido</h1>
      <p>Consulte con el administrador del sitio si cree que se trata de un error.</p>
    </center>
  </div>
  <!-- partial -->

</body>

</html>