{% extends "panel.html" %}
{% block titulo %}Inicio - Roduc{% endblock %}

{% block formularios %}
{% load static %}
<div class="col-md-12 mb-2 mb-xl-3">
    <h1><strong>Página</strong> de Inicio - <strong> RODUC</strong></h1>
    <div class="tab-content">
        <div class="row py-4">
            
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'usuario' %}">
                        <div>
                            
                            <span class="display-4">Usuarios</span>
                        </div>
                        <img class="img-responsive mt-2" width="150" height="150" src="{%static 'assets/img/nuevo_usuario.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
                        <h6>Nuevo Usuario</h6>
                    </a>
                    
                </div>
            </div>
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'facultad' %}">
                        <div>
                            
                            <span class="display-4">Facultades</span>
                        </div>
                        <img class="img-responsive mt-2" width="150" height="150" src="{%static 'assets/img/facultad.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
                        <h6>Nueva Facultad</h6>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'carrera' %}">
                        <div>
                        
                            <span class="display-4">Carreras</span>
                        </div>
                        <img class="img-responsive mt-2" width="150" height="150" src="{%static 'assets/img/carrera.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
                        <h6>Nueva Carrera</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-2 mb-xl-3">
    <div class="tab-content">
        <div class="row">
            
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'plan_estudio' %}">
                        <div>
                        
                            <span class="display-4">Planes de Estudio</span>
                        </div>
                        <img class="img-responsive mt-2" width="150" height="150" src="{%static 'assets/img/plan_estudio.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
                        <h6>Nuevo Plan de Estudio</h6>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'semestre' %}">
                        <div>
                            
                            <span class="display-4">Semestres</span>
                        </div>
                        <img class="img-responsive mt-2" width="150" height="150" src="{%static 'assets/img/semestre.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
                        <h6>Nuevo Semestre</h6>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'asignatura' %}">
                        <div>
                            
                            <span class="display-4">Asignaturas</span>
                        </div>
                        <img class="img-responsive mt-2" width="150" height="150" src="{%static 'assets/img/asignatura.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
                        <h6>Nueva Asignatura</h6>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}

{% block extrajs %}

{% endblock %}