{% extends "panel.html" %}
{% block titulo %}Perfil - Roduc{% endblock %}
{% block formularios %}
{% load static %}

{% block extracss %}
<style>
    tr{
        animation: myAnim .2s ease-in 0s 1 normal forwards;
    }

    @keyframes myAnim {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
{% endblock %}

<!-- Main content -->
<div class="header pb-9 d-flex align-items-center"
  style="min-height: 230px; background-image: url('{% static 'assets/img/header-bg.png' %}'); ">
  <!-- Mask -->
  <span></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-justify">
    <div class=".col-12 .col-md-8">

    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="{% static 'assets/img/fondo_perfil.jpg' %}" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="{% static 'assets/img/user_profile.png' %}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">{{datos_usuario.apellidos_del_usuario}}, {{datos_usuario.nombres_del_usuario}}</h5>
            <div class="h5 font-weight-300">{{datos_usuario.nombre_usuario}}</div>
            <div class="h5 mt-4">{{datos_usuario.direccion_email}}</div>
            <div>Universidad Católica "Nuestra Señora de la Asunción"</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Roles</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary" onclick="rolAgg()">Asignar Rol</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive py-2" style="overflow: hidden;">
            <div class="dataTables_wrapper dt-bootrstrap4">
              <table class="table table-flush dataTable align-items-center table-hover" id="tablaRoles">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="id">ID</th>
                    <th scope="col" class="sort" data-sort="rol">Rol</th>
                    <th scope="col" class="sort" data-sort="carrera">Carrera</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tfoot class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Rol</th>
                    <th>Carrera</th>
                    <th>Acciones</th>
                  </tr>
                </tfoot>
                <tbody class="list" id="cuerpoTabla">
                  {% for usuario_rol in lista_usuario_rol %}
                  <tr>
                    <td class="id">{{usuario_rol.cod_usuario_rol}}</td>
                    <td>
                      {% for rol in lista_roles %}
                        {% if usuario_rol.cod_rol_usuario_id == rol.cod_rol_usuario %}
                          {{rol.descripcion}}
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td>
                      {% for carrera in lista_carreras %}
                        {% if usuario_rol.cod_carrera_id == carrera.cod_carrera %}
                          {{carrera.descripcion}}
                        {% endif %}
                      {% endfor %}
                    </td>
                    <!---BOTONES-->
                    <td id="acciones">
                      <button class="btn btn-outline-danger" onclick="eliminar_rol('{{usuario_rol.cod_usuario_rol}}')">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      {% if usuario_rol.cod_rol_usuario_id == 2 %}
                      <button class="btn btn-outline-primary" onclick="materiasModal('{{usuario_rol.cod_carrera_id}}', '{{usuario_rol.cod_usuario_rol}}')">
                        <i class="fas fa-regular fa-book"></i>
                      </button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---Modal-->
<div class="modal fade" id="rolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Formulario de asignacion de roles</h5>
        <button type="button" class="close" href="" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" action='' id="rolForm" name="update">
          {% csrf_token %}
          <h6 class="heading-small text-muted mb-4">Datos para el rol del usuario</h6>
          <div class="pl-lg-1">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" value="{{datos_usuario.cod_usuario}}" name="codigo" style="display: none;">
                  <label class="form-control-label" for="input-username">Seleccione un rol para el usuario</label>
                  <select class="form-control" name="rol" id="rol">
                    <option value="">Seleccione una opcion...</option>
                    {% for rol in lista_roles %}
                    <option value="{{rol.cod_rol_usuario}}">{{rol.descripcion}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Seleccione la carrera</label>
                  <select class="form-control" name="carrera" id="carrera">
                    <option value="">Seleccione una opcion...</option>
                    {% for carrera in lista_carreras %}
                    <option value="{{carrera.cod_carrera}}">{{carrera.descripcion}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <span><button type="submit" class="btn btn-success">Guardar</button></span>
        </form>
      </div>
    </div>
  </div>
</div>



<!---Modal-->
<div class="modal fade" id="materiasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Asignacion de Materias a Profesor</h5>
        <button type="button" class="close" href="" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            
          </div>
        </div>
        <div class="table-responsive py-2" style="overflow: hidden;">
          <div class="dataTables_wrapper dt-bootrstrap4">
            <table class="table table-flush dataTable align-items-center table-hover" id="tablaMaterias">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="id">ID</th>
                  <th scope="col" class="sort" data-sort="rol">Descripcion</th>
                  <th scope="col" class="sort" data-sort="curso">Curso</th>
                  <th scope="col" class="sort" data-sort="plan">Plan de Estudio</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tfoot class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Plan de Estudio</th>
                  <th scope="col">Acciones</th>
                </tr>
              </tfoot>
              <tbody class="list" id="cuerpoTabla">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
  <script>
    function rolAgg(){
      $('#rolModal').modal('show');
    }
  </script>

  <script>
    $('#rolForm').on('submit', function(){
        var formulario = new FormData(this);
        event.preventDefault();
        $.ajax({
        url: "{% url 'asignar_rol' %}",
        type: 'POST',
        data: formulario,
        processData:false,
        contentType:false,
        success: 
            function(data){
                document.getElementById('rol').value = ''
                document.getElementById('carrera').value = ''
                $('#rolModal').modal('hide');
                if (data.bandera == 0){
                  Swal.fire({
                          icon: 'error',
                          title: 'Aviso',
                          text: data.mensaje,
                          showConfirmButton: true
                      })
                } else {
                  Swal.fire({
                          icon: 'success',
                          title: 'Aviso',
                          text: data.mensaje,
                          showConfirmButton: false,
                          timer: 1500
                      })
                  roles_user = data.lista_roles
                  roles_user = JSON.parse(roles_user)
                  actualizarRoles(roles_user)
                  }
              }
        })
    })

    var tabla = $('#tablaRoles').DataTable( {
            "language": {
                "emptyTable":     "No existen registros a exponer.",
                "info":           "",
                "infoEmpty":      "",
                "infoFiltered":   "",
                "infoPostFix":    "",
                "thousands":      ".",
                "lengthMenu":     "Registros a mostrar _MENU_",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se obtuvo ninguna coincidencia",
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>'
                    }
            },
            "lengthMenu": [[5 ,10, 25, 50, -1], [5, 10, 25, 50, "Todo"]],
        });
        
    var tablaMaterias = $('#tablaMaterias').DataTable( {
            "language": {
                "emptyTable":     "No existen registros a exponer.",
                "info":           "",
                "infoEmpty":      "",
                "infoFiltered":   "",
                "infoPostFix":    "",
                "thousands":      ".",
                "lengthMenu":     "Registros a mostrar _MENU_",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se obtuvo ninguna coincidencia",
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>'
                    }
            },
            "lengthMenu": [[5 ,10, 25, 50, -1], [5, 10, 25, 50, "Todo"]],
        });

        
    function actualizarRoles(roles_user){
      var rol = ''
      var carrera = ''
      var aux = ''

      $('#tablaRoles').DataTable().clear()
      document.querySelector("#cuerpoTabla").innerHTML = "";
      for(var x = 0; x < Object.keys(roles_user).length; x++){
        //ROLES
        {% for roles in lista_roles %}
          aux = {{roles.cod_rol_usuario}}
          if(roles_user[x].fields.cod_rol_usuario == aux){
            rol = '{{roles.descripcion}}'
          }
        {% endfor %}
        //CARRERAS
        {% for carreras in lista_carreras %}
          aux = {{carreras.cod_carrera}};
          if(roles_user[x].fields.cod_carrera == aux){
            carrera = '{{carreras.descripcion}}';
          }
        {% endfor %}

        //CARGA DE TABLA
        if(rol == 'Profesor'){
          tabla.row.add([roles_user[x].pk, rol, carrera, `<button type="button" class = "btn btn-icon btn-outline-danger" onclick = "eliminar_rol(${roles_user[x].pk})"><span><i class = "fas fa-trash"></i></span></button><button type="button" onclick="materiasModal('${roles_user[x].fields.cod_carrera}')" class = "btn btn-icon btn-outline-primary"><span><i class = "fas fa-book"></i></span></button>`]).draw();
        } else{
          tabla.row.add([roles_user[x].pk, rol, carrera, `<button type="button" class = "btn btn-icon btn-outline-danger" onclick = "eliminar_rol(${roles_user[x].pk})"><span><i class = "fas fa-trash"></i></span></button>`]).draw();
        }
      }
    }

  </script>

  <script>
    function materiasModal(carrera, rol){
      tablaMaterias.clear().draw();
      if($('#materiasModal').is(':visible')){
        null;
      } else {
        $('#materiasModal').modal('show');
      }
      $.ajax({
        url: "{% url 'detalleAsignaturasCarrera' %}",
        type: 'GET',
        data: {"carrera": carrera,
               "codigo": rol},
        success: 
            function(data){
              asignaturas_carrera = JSON.parse(data.lista_asignaturas);
              asignaturas_del_usuario = JSON.parse(data.asignaturas_del_usuario);
              lista_planes = JSON.parse(data.lista_planes)
              console.log(asignaturas_carrera)
              var bandera = 0;
              var curso = '';
              var plan = '';
              for(var x = 0; x < Object.keys(asignaturas_carrera).length; x++){
                for(var y = 0; y < Object.keys(asignaturas_del_usuario).length; y++){
                  if(asignaturas_carrera[x].pk == asignaturas_del_usuario[y].fields.cod_asignatura){
                    bandera = 1;
                  }
                }
                /*if(bandera == 1){ //SIGNIFICA QUE LLEVA LA MATERIA
                  $(`<tr><td>${asignaturas_carrera[x].pk}</td><td>${asignaturas_carrera[x].fields.descripcion}</td><td>${asignaturas_carrera[x].fields.curso}</td><td><button type="button" onclick="asignarMateria(${asignaturas_carrera[x].pk}, ${carrera}, ${rol})" class="btn btn-danger btn-sm">Desvincular</button></td></tr>`).appendto("#tablaMaterias>tbody");
                  //tabla_materias.row.add([asignaturas_carrera[x].pk, asignaturas_carrera[x].fields.descripcion, asignaturas_carrera[x].fields.curso, `<button type="button" onclick="asignarMateria(${asignaturas_carrera[x].pk}, ${carrera}, ${rol})" class="btn btn-danger btn-sm">Desvincular</button>`]).draw();
                  bandera = 0;
                } else {
                  $("#tablaMaterias>tbody").append(`<tr><td>${asignaturas_carrera[x].pk}</td><td>${asignaturas_carrera[x].fields.descripcion}</td><td>${asignaturas_carrera[x].fields.curso}</td><td><button type="button" onclick="asignarMateria(${asignaturas_carrera[x].pk}, ${carrera}, ${rol})" class="btn btn-success btn-sm">Vincular</button></td></tr>`);
                  //tabla_materias.row.add([asignaturas_carrera[x].pk, asignaturas_carrera[x].fields.descripcion, asignaturas_carrera[x].fields.curso, `<button type="button" onclick="asignarMateria(${asignaturas_carrera[x].pk}, ${carrera}, ${rol})" class="btn btn-success btn-sm">Vincular</button>`]).draw();
                  bandera = 0;
                }*/
                
                //ENMASCARAR CURSO
                switch(asignaturas_carrera[x].fields.curso){
                  case 1: curso = "Primer Curso"; break;
                  case 2: curso = "Segundo Curso"; break;
                  case 3: curso = "Tercer Curso"; break;
                  case 4: curso = "Cuarto Curso"; break;
                  case 5: curso = "Quinto Curso"; break;
                }

                for(var z = 0; z < Object.keys(lista_planes).length; z++){
                  if(lista_planes[z].pk == asignaturas_carrera[x].fields.cod_plan_estudio){
                    plan = lista_planes[z].fields.descripcion;
                  }
                }

                if(bandera == 0) {
                  tablaMaterias.row.add([asignaturas_carrera[x].pk, asignaturas_carrera[x].fields.descripcion, curso, plan, `<button type="button" onclick="asignarMateria(${asignaturas_carrera[x].pk}, ${carrera}, ${rol}, 1)" class="btn btn-success btn-sm">Vincular</button>`]).draw();
                } else {
                  tablaMaterias.row.add([asignaturas_carrera[x].pk, asignaturas_carrera[x].fields.descripcion, curso, plan, `<button type="button" onclick="asignarMateria(${asignaturas_carrera[x].pk}, ${carrera}, ${rol}, 2)" class="btn btn-danger btn-sm">Desvincular</button>`]).draw();
                }
                console.log(bandera)
                bandera = 0;
              }
            }
        })
    }
  </script>

  <script>
    function asignarMateria(materia, carrera, rol, flag){
      if (flag == 2){
        titulo = "Desvinculación de Profesor"
        texto = "¿Está a punto de desvincular al profesor de la asignatura. ¿Desea continuar?"
        url = "{% url 'desvincular_asignatura' %}"
      } else {
        titulo = "Asignación de Profesor"
        texto = "¿Está a punto asignar al profesor una asignatura. ¿Desea continuar?"
        url = "{% url 'asignar_asignatura' %}"
      }
      Swal.fire({
        title: titulo,
        text: texto,
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Confirmar',
        cancelButtonText: "Cancelar",
        confirmButtonColor: '#2dce89',
        cancelButtonColor: '#d33',
      }).then((result) => {
        if (result.value){
          $.ajax({
            url: url,
            type: 'POST',
            data: {"carrera": carrera,
                   "codigo": rol,
                   "asignatura": materia},
            success: 
                function(data){
                  const Toast = Swal.mixin({
                      toast: true,
                      position: 'top',
                      showConfirmButton: false,
                      timer: 2000,
                      timerProgressBar: true,
                      didOpen: (toast) => {
                          toast.addEventListener('mouseenter', Swal.stopTimer)
                          toast.addEventListener('mouseleave', Swal.resumeTimer)
                      }
                  })
                  Toast.fire({
                  icon: 'success',
                  title: data.mensaje
                  })  
                  $('#tablaMaterias').hide(300);
                  $('#tablaMaterias').show(300);
                  materiasModal(carrera, rol);
                }
          })
        }
      })
    }
  </script>

<script>
  function eliminar_rol(codigo){
      Swal.fire({
          title: 'Eliminación de rol',
          text: '¿Está seguro de eliminar el registro?',
          icon: 'question',
          showCancelButton: true,
          confirmButtonText: 'Confirmar',
          cancelButtonText: "Cancelar",
          confirmButtonColor: '#2dce89',
          cancelButtonColor: '#d33',
      }).then((result) => {
          if (result.value) {
              console.log(codigo)
              $.ajax({
                  url: "{% url 'eliminar_rol' %}",
                  type: 'POST',
                  data: {"codigo": codigo},
                  success: 
                  function(data){
                      Swal.fire({
                          icon: 'success',
                          title: 'Aviso',
                          text: data.mensaje,
                          showConfirmButton: true
                      }).then( () => {
                          lista_roles = JSON.parse(data.lista_roles)
                          actualizarRoles(lista_roles)
                      })
                  }
              })
          }
      })
  }
</script>
{% endblock %}