{% extends "panel.html" %}
{% block titulo %}Reportes - Roduc{% endblock %}

{% block formularios %}
{% load static %}
<div class="col-md-12 mb-2 mb-xl-3">
    <div class="tab-content">
        <div class="row py-4" style="display: flex; align-items: center;">
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <button class="card-body d-flex flex-column btn btn-lg btn-outline-primary"
                        style="align-items: center;" onclick="mostrarRegistros()">
                        <div>
                            <span class="display-4" style="align-items: center;">Operaciones Diarias</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <button onclick="mostrarAnalisis()"
                        class="card-body d-flex flex-column btn btn-lg btn-outline-primary"
                        style="align-items: center;">
                        <div>
                            <span class="display-4">Análisis de Asignatura</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'carrera' %}">
                        <div>
                            <span class="display-4">Otros</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!---Modal de Registro de Operaciones Diarias-->
<div class="modal fade" id="registrosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 65%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Registros de Operaciones diarias del sistema</h5>
                <button type="button" class="close" href="" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive py-2">
                    <div class="dataTables_wrapper dt-bootrstrap4">
                        <table class="table table-flush dataTable align-items-center table-hover" id="datos">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="id">Fecha de Clase</th>
                                    <th scope="col" class="sort" data-sort="rol">Asignatura</th>
                                    <th scope="col" class="sort" data-sort="rol">Curso</th>
                                    <th scope="col" class="sort" data-sort="curso">Profesor</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tfoot class="thead-light">
                                <tr>
                                    <th scope="col">Fecha de Clase</th>
                                    <th scope="col">Asignatura</th>
                                    <th scope="col">Curso</th>
                                    <th scope="col">Profesor</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody class="list" id="cuerpoTabla">
                                {% for registros in lista_registros %}
                                <tr>
                                    <td>{{registros.fecha_clase}}</td>
                                    <td>
                                        {% for asignatura in lista_asignaturas %}
                                        {% if registros.cod_asignatura_id == asignatura.cod_asignatura %}
                                        {{asignatura.descripcion}}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for asignatura in lista_asignaturas %}
                                        {% if registros.cod_asignatura_id == asignatura.cod_asignatura %}
                                        {% if asignatura.curso == 1 %}
                                        Primer Curso
                                        {% elif asignatura.curso == 2 %}
                                        Segundo Curso
                                        {% elif asignatura.curso == 3 %}
                                        Tercer Curso
                                        {% elif asignatura.curso == 4 %}
                                        Cuarto Curso
                                        {% elif asignatura.curso == 5 %}
                                        Quinto Curso
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for usuario in lista_usuarios %}
                                        {% if usuario.cod_usuario == registros.cod_usuario_id %}
                                        {{usuario.apellidos_del_usuario}}, {{usuario.nombres_del_usuario}}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a type="button"
                                            href="{% url 'registro_de_operaciones_diarias' registros.cod_cabecera_planilla %}"
                                            target="_blank" class="btn btn-success btn-sm">Imprimir</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Analisis-->
<div class="modal fade" id="modalAnalisis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 75%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Análisis de Asignatura</h5>
                <button type="button" class="close" href="" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action="{% url 'analisisAsignatura' %}" target="_blank" method="POST" id="form"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6 class="heading-small text-muted mb-4">Complete el formulario para ejecutar el análisis de la
                        materia.</h6>
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="form-control-label">Facultad</label>
                                    <select class="form-control" id="updateFacultad" name="facultad"
                                        class="form-control">
                                        <option value="">Seleccione la facultad a la cual pertenece...</option>
                                        {% for facultad in lista_facultades %}
                                            {% if facultad.cod_facultad == facultad_asignada %}
                                            <option value="{{facultad.cod_facultad}}">{{facultad.descripcion}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Carrera</label>
                                    <select class="form-control" id="updateCarrera" name="carrera" class="form-control">
                                        <option value="">Seleccione la carrera a la cual pertenece...</option>
                                        {% for carrera in lista_carreras %}
                                        <option value="{{carrera.cod_carrera}}" data-chained="{{carrera.cod_facultad_id}}"> {{carrera.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Plan de Estudios</label>
                                    <select class="form-control" id="updatePlan_estudio" name="plan_estudio"
                                        class="form-control">
                                        <option value="">Seleccione el plan de estudios...</option>
                                        {% for plan in lista_planes %}
                                        <option value="{{plan.cod_plan_estudio}}"
                                            data-chained="{{plan.cod_carrera_id}}">
                                            {{plan.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Asignatura</label>
                                    <select class="form-control" id="updateAsignatura" name="asignatura"
                                        class="form-control">
                                        <option value="">Seleccione la asignatura a la cual pertenece...</option>
                                        {% for asignatura in lista_asignaturas %}
                                        <option value="{{asignatura.cod_asignatura}}"
                                            data-chained="{{asignatura.cod_carrera_id}}+{{asignatura.cod_plan_estudio_id}}">
                                            {{asignatura.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Fecha uno</label>
                                    <input required type="date" autocomplete="off" id="fecha" class="form-control" name="fecha_uno" autofocus>
                                </div>
                            </div>
                            <div class="col-lg-2" style="text-align: center;">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username"></label> <br>
                                    <span class="display-3">VS</span>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Fecha dos</label>
                                    <input required type="date" autocomplete="off" id="fecha" class="form-control" name="fecha_dos" autofocus>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span><button type="submit" class="btn btn-success">Ejecutar</button></span>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    function mostrarRegistros() {
        $('#registrosModal').modal('show');
    }
</script>

<script>
    function mostrarAnalisis() {
        $('#modalAnalisis').modal('show');
        $("#updateCarrera").chained("#updateFacultad");
        $("#updatePlan_estudio").chained("#updateCarrera");
        $("#updateAsignatura").chained("#updateCarrera,#updatePlan_estudio");
    }
</script>
{% endblock %}