{% extends "panel.html" %}
{% block formularios %}
{% load static %}
<div class="header pb-9 d-flex align-items-center" style="min-height: 350px; background-image: url(''); background-size: auto; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-justify">
      <div class="row">
        <div class="col-lg-7 col-md-0">
          <h1 class="display-2 text-white">Registro de Facultades</h1>
          <p class="text-white mt-0 mb-5">El formulario actual sirve para el Registro de los Facultades que tienen acceso al sistema.</p>
        </div>
      </div>
    </div>
</div>



{% endblock %}