{% extends "panel.html" %}
{% block formularios %}
{% load static %}
<div class="header pb-9 d-flex align-items-center" style="min-height: 350px; background-image: url('{% static 'assets/img/header-bg.png' %}'); ">
    <!-- Mask -->
    <span></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-justify">
        <div class=".col-12 .col-md-8">
          <h1 class="display-2 text-white">Registro de Facultades</h1>
          <p class="text-white mt-0 mb-5">El formulario actual sirve para el Registro de los Facultades que tienen acceso al sistema.</p>
        </div>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <form role="form" action='' method="POST">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Datos de la Departamento</h6>
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Nombre</label>
                                        <input required type="text" autocomplete="off" id="input-username" class="form-control" placeholder="Ingrese nombre del departamento o provincia..." name = "nombre" autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span><button type="submit" class="btn btn-success">Guardar</button></span>
                        <span><a type="button" class="btn btn-warning" href=''>Listar</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}