{% extends "panel.html" %}
{% block titulo %}Asignaturas - Roduc{% endblock %}
{% block formularios %}
{% load static %}
<div class="header pb-9 d-flex align-items-center"
  style="min-height: 350px; background-image: url('{% static 'assets/img/header-bg.png' %}'); ">
  <!-- Mask -->
  <span></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-justify">
    <div class="row">
      <div class=".col-12 .col-md-8">
        <h1 class="display-2 text-white">Registro de Asignaturas</h1>
        <p class="text-white mt-0 mb-5">El formulario actual sirve para el registro de las asignaturas en el sistema.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-body">
          <form role="form" action='#' method="POST" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <h6 class="heading-small text-muted mb-4">Datos de la asignatura</h6>
            <div class="pl-lg-0">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Descripción</label>
                    <input required autocomplete="off" type="text" id="input-username" class="form-control"
                      placeholder="Ingrese la descripción de la asignatura..." name="descripcion" autofocus>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Horas Cátedras</label>
                    <input required type="number" autocomplete="off" id="input-username" class="form-control"
                      placeholder="Ingrese las horas cátedras correspondientes a la asignatura..." name="horas"
                      autofocus>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1" class="form-control-label">Carrera</label>
                    <select class="form-control" name="carrera" id="carrera" class="form-control">
                      <option value="">Seleccione la carrera...</option>
                      {% for carrera in lista_carreras %}
                        {% if carrera.cod_facultad_id == facultad_asignada %}
                        <option value="{{carrera.cod_carrera}}">{{carrera.descripcion}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1" class="form-control-label">Plan de Estudios</label>
                    <select class="form-control" id="plan" name="plan" class="form-control">
                      <option value="">Seleccione el plan de estudios...</option>
                      {% for plan in lista_planes %}
                      <option value="{{plan.cod_plan_estudio}}" data-chained="{{plan.cod_carrera_id}}">
                        {{plan.descripcion}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1" class="form-control-label">Curso</label>
                    <select class="form-control" name="curso" id="exampleFormControlSelect1" class="form-control">
                      <option>Seleccione el curso...</option>
                      <option value="1">Primer Curso</option>
                      <option value="2">Segundo Curso</option>
                      <option value="3">Tercer Curso</option>
                      <option value="4">Cuarto Curso</option>
                      <option value="5">Quinto Curso</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1" class="form-control-label">Semestre</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="semestre" class="form-control">
                      <option value="">Seleccione el semestre...</option>
                      {% for semestre in lista_semestres %}
                      <option value="{{semestre.cod_semestre}}">{{semestre.descripcion}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <span><button type="submit" class="btn btn-success">Guardar</button></span>
              <span><button type="button" class="btn btn-warning" onclick="mostrarAsignaturas()" id="BT_Listar">Listar</button></span>
          </form>
        </div>
      </div>
    </div>
    <div class="row" style="display: none;" id="listaasignaturas">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h6 class="heading-small text-muted mb-4">Asignaturas Registradas</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive py-2">
              <div class="dataTables_wrapper dt-bootrstrap4">
                <table class="table table-flush dataTable align-items-center table-hover" id="datos">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="id">ID</th>
                      <th scope="col" class="sort" data-sort="nombre">Descripción</th>
                      <th scope="col" class="sort" data-sort="nombre">Horas Cátedra</th>
                      <th scope="col" class="sort" data-sort="nombre">Curso</th>
                      <th scope="col" class="sort" data-sort="nombre">Carrera</th>
                      <th scope="col" class="sort" data-sort="nombre">Plan de Estudios</th>
                      <th scope="col" class="sort" data-sort="nombre">Semestre</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tfoot class="thead-light">
                    <tr>
                      <th>ID</th>
                      <th>Descripción</th>
                      <th>Horas Cátedra</th>
                      <th>Curso</th>
                      <th>Carrera</th>
                      <th>Plan de Estudios</th>
                      <th>Semestre</th>
                      <th>Acciones</th>
                    </tr>
                  </tfoot>
                  <tbody class="list">
                    {% for asignatura in lista_asignaturas %}
                      {% for carrera in lista_carreras %}
                        {% if carrera.cod_carrera == asignatura.cod_carrera_id and carrera.cod_facultad_id == facultad_asignada %}
                        <tr>
                          <td class="id">{{asignatura.cod_asignatura}}</td>
                          <td class="nombre">{{asignatura.descripcion}}</td>
                          <td class="nombre">{{asignatura.horas_catedra}}</td>
                          <td class="nombre">
                            {% if asignatura.curso == 1 %}
                              Primer Curso
                            {% elif asignatura.curso == 2 %}
                              Segundo Curso
                            {% elif asignatura.curso == 3 %}
                              Tercer Curso
                            {% elif asignatura.curso == 4 %}
                              Cuarto Curso
                            {% elif asignatura.curso == 5 %}
                              Quinto Curso
                            {% endif %}
                          </td>
                          <td class="nombre">
                            {% for carrera in lista_carreras %}
                              {% if carrera.cod_carrera == asignatura.cod_carrera_id %}
                                {{carrera.descripcion}}
                              {% endif %}
                            {% endfor %}
                          </td>
                          <td class="nombre">
                            {% for plan in lista_planes %}
                              {% if plan.cod_plan_estudio == asignatura.cod_plan_estudio_id %}
                                {{plan.descripcion}}
                              {% endif %}
                            {% endfor %}
                          </td>
                          <td class="nombre">
                            {% for semestre in lista_semestres %}
                              {% if semestre.cod_semestre == asignatura.cod_semestre_id %}
                                {{semestre.descripcion}}
                              {% endif %}
                            {% endfor %}
                          </td>
                          <!---BOTONES-->
                          <td>
                            <button type="button" class="btn btn-outline-success" onclick='obtenerAsignatura("{{asignatura.cod_asignatura}}")'>
                              <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-outline-danger" onclick='eliminarAsignatura("{{asignatura.cod_asignatura}}")'>
                              <i class="fas fa-trash-alt"></i>
                            </button>
                          </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!---Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal"></h5>
        <button type="button" class="close" href="" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" action='#' method="POST" onsubmit='updateAsignatura(this)' enctype="multipart/form-data">
          {% csrf_token %}
          <h6 class="heading-small text-muted mb-4">Datos de la asignatura</h6>
          <div class="pl-lg-0">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Descripción</label>
                  <input type="text" name="codigo" id="updateCodigo" value="" style="display: none;">
                  <input required autocomplete="off" type="text" id="updateDescripcion" class="form-control" placeholder="Ingrese la descripción de la asignatura..." name="descripcion" autofocus>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Horas Cátedras</label>
                  <input required type="number" autocomplete="off" id="updateHoras" class="form-control"
                    placeholder="Ingrese las horas cátedras correspondientes a la asignatura..." name="horas"
                    autofocus>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1" class="form-control-label">Carrera</label>
                  <select class="form-control" name="carrera" id="updateCarrera" class="form-control">
                    <option value="">Seleccione la carrera...</option>
                    {% for carrera in lista_carreras %}
                      {% if carrera.cod_facultad_id == facultad_asignada %}
                      <option value="{{carrera.cod_carrera}}">{{carrera.descripcion}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1" class="form-control-label">Plan de Estudios</label>
                  <select class="form-control" id="updatePlan" name="plan" class="form-control">
                    <option value="">Seleccione el plan de estudios...</option>
                    {% for plan in lista_planes %}
                    <option value="{{plan.cod_plan_estudio}}" data-chained="{{plan.cod_carrera_id}}">
                      {{plan.descripcion}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1" class="form-control-label">Curso</label>
                  <select class="form-control" name="curso" id="updateCurso" class="form-control">
                    <option>Seleccione el curso...</option>
                    <option value="1">Primer Curso</option>
                    <option value="2">Segundo Curso</option>
                    <option value="3">Tercer Curso</option>
                    <option value="4">Cuarto Curso</option>
                    <option value="5">Quinto Curso</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1" class="form-control-label">Semestre</label>
                  <select class="form-control" id="updateSemestre" name="semestre" class="form-control">
                    <option value="">Seleccione el semestre...</option>
                    {% for semestre in lista_semestres %}
                    <option value="{{semestre.cod_semestre}}">{{semestre.descripcion}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <span><button type="submit" class="btn btn-success">Guardar</button></span>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extrajs %}
<script>
  $("#plan").chained("#carrera");
</script>

<script>
  $('#form').on('submit', function () {
    var formulario = new FormData(this);
    event.preventDefault();
    $.ajax({
      url: "{% url 'agregar_asignatura' %}",
      type: 'POST',
      data: formulario,
      processData: false,
      contentType: false,
      success:
        function (data) {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })
          Toast.fire({
            icon: 'success',
            title: data.mensaje
          }).then(() => {
            location.href = '{% url 'asignatura' %}'
          })
        }
    })
  })
</script>

<script>
  function mostrarAsignaturas() {
    if ($("#listaasignaturas").is(":visible")) {
      $('#listaasignaturas').hide(500);
      document.querySelector('#BT_Listar').innerHTML = 'Listar';
    } else {
      $('#listaasignaturas').show(500);
      document.querySelector('#BT_Listar').innerHTML = 'Ocultar';
    }
  }
</script>

<script>
  function obtenerAsignatura(codigo) {
    $.ajax({
      url: "{% url 'detalle_asignatura' %}",
      type: 'GET',
      data: { "codigo": codigo },
      success:
        function (data) {
          detalle = data.detalle;
          $('#updateModal').modal('show');
          detalle = JSON.parse(detalle);
          document.querySelector('#tituloModal').innerHTML = 'Modificar Asignatura: ' + detalle[0].fields.descripcion;
          document.getElementById("updateCodigo").value = detalle[0].pk;
          document.getElementById("updateDescripcion").value = detalle[0].fields.descripcion;
          document.getElementById("updateHoras").value = detalle[0].fields.horas_catedra;
          document.getElementById("updateCarrera").value = detalle[0].fields.cod_carrera;
          document.getElementById("updatePlan").value = detalle[0].fields.cod_plan_estudio;
          document.getElementById("updateSemestre").value = detalle[0].fields.cod_semestre;
          document.getElementById("updateCurso").value = detalle[0].fields.curso;
          $("#updatePlan").chained("#updateCarrera");
        }
    })
  }
</script>

<script>
  function updateAsignatura(form) {
    event.preventDefault();
    var formulario = new FormData(form)
    Swal.fire({
      title: 'Actualización de Asignatura',
      text: '¿Está seguro de actualizar el registro?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Confirmar',
      cancelButtonText: "Cancelar",
      confirmButtonColor: '#2dce89',
      cancelButtonColor: '#d33',
    }).then((result) => {
      if (result.value) {
        $.ajax({
          url: "{% url 'actualizar_asignatura' %}",
          type: 'POST',
          data: formulario,
          processData: false,
          contentType: false,
          success:
            function (data) {
              $('#updateModal').modal('hide');
              Swal.fire({
                icon: 'success',
                title: 'Aviso',
                text: data.mensaje,
                showConfirmButton: true
              }).then(() => {
                location.href = '{% url 'asignatura' %}'
              })
            }
        })
      }
    })
  }
</script>

<script>
  function eliminarAsignatura(codigo){
      Swal.fire({
          title: 'Eliminación de asignatura',
          text: '¿Está seguro de eliminar el registro?',
          icon: 'question',
          showCancelButton: true,
          confirmButtonText: 'Confirmar',
          cancelButtonText: "Cancelar",
          confirmButtonColor: '#2dce89',
          cancelButtonColor: '#d33',
      }).then((result) => {
          if (result.value) {
              console.log(codigo)
              $.ajax({
                  url: "{% url 'eliminar_asignatura' %}",
                  type: 'POST',
                  data: {"codigo": codigo},
                  success: 
                  function(data){
                      $('#updateModal').modal('hide');
                      Swal.fire({
                          icon: 'success',
                          title: 'Aviso',
                          text: data.mensaje,
                          showConfirmButton: true
                      }).then( () => {
                          location.href = '{% url 'asignatura' %}'
                      })
                  }
              })
          }
      })
  }
</script>


{% endblock %}